/* Circular Content Carousel Style */
.ca-container{
	position:relative;
	width:990px;
	height:300px;
}
.ca-wrapper{
	width:100%;
	height:100%;
	position:relative;
}
.ca-item{
	position:relative;
	float:left;
	width:330px;
	height:100%;
	text-align:center;
}
.ca-item-main:hover .ca-more{
  display: block !important;

}
.ca-item-main:hover .ca-icon{
  display: block !important;
}
.ca-more{
  display: none !important;
  position: absolute;
  top: 220px;
  margin-right: -20px;
  right: 0px;
  padding: 4px 15px;
  font-weight: bold;
  background: black;
  text-align: center;
  color: white;
  font-style: italic;
  text-shadow: 1px 1px 1px #777777;
  -webkit-border-radius: 8px 0 0 8px;
     -moz-border-radius: 8px 0 0 8px;
          border-radius: 8px 0 0 8px;

}
.ca-more:hover{
  color: white !important;
  text-decoration: none !important;
}
.ca-close{
	position:absolute;
	top:10px;
	right:10px;
	background:#fff url(../images/cross.png) no-repeat center center;
	width:27px;
	height:27px;
	text-indent:-9000px;
	outline:none;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	opacity:0.7;
}
.ca-close:hover{
	opacity:1.0;
}
.ca-item-main{
	padding:20px;
	position:absolute;
	top:5px;
	left:5px;
	right:5px;
	bottom:5px;
	background:#fff;
	overflow:hidden;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
	-webkit-box-shadow: 0 0 10px #BBB;
	   -moz-box-shadow: 0 0 10px #BBB;
	        box-shadow: 0 0 10px #BBB;
  z-index: 2;
}
.ca-icon{
	position:relative;
	margin:0 auto;
}
.ca-icon img{
	width:280px;
	height:250px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
.ca-item-main:hover .ca-icon img{
  opacity: 0.6;
}

.ca-item h3{
	font-family: 'Coustard', sans-serif;
	text-transform:uppercase;
	font-size:30px;
	color:#000;
	margin-bottom:20px;
	height:85px;
	text-align:center;
	text-shadow: 0px 1px 1px #e4ebe9;
}
.ca-item h4{
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
	font-size:12px;
	text-align:left;
	border-left:10px solid #b0ccc6;
	padding-left:10px;
	line-height:24px;
	margin:10px;
	position:relative;
}
.ca-item h4 span{
	text-indent:40px;
	display:block;
}
.ca-item h4  span.ca-quote{
	color:#f4eee3;
	font-size:100px;
	position:absolute;
	top:20px;
	left:0px;
	text-indent:0px;
}
.ca-content-wrapper{
  background: white;
  position: absolute;
  width: 0px;
  height: 280px;
  top: 11px;
  text-align: left;
  z-index: 1;
  overflow: hidden;
  -webkit-border-radius: 0 5px 5px 0;
     -moz-border-radius: 0 5px 5px 0;
          border-radius: 0 5px 5px 0;
	-webkit-box-shadow: 0 0 10px #CCC;
	   -moz-box-shadow: 0 0 10px #CCC;
	        box-shadow: 0 0 10px #CCC;
  margin-left: -10px;
}
.ca-content{
	overflow:hidden;
  padding: 20px 30px 20px 30px;
}
.ca-content-text{
	margin-top:10px;
}
.ca-content-text p{
  font-size: 14px;
	padding-bottom:5px;
}
.ca-content h6{
	font-size:32px;
	color:#000;
	font-family: 'Coustard', sans-serif;
}
.ca-content ul{
  float: right;
	margin:20px 5px;
	height:30px;
  list-style: none;
}
.ca-content ul li{
	float:left;
	margin:0px 2px;
}
.ca-content ul li a{
  padding: 6px 10px;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: white;
  border: solid 1px #111;
  background-image:         linear-gradient(bottom, #333 0%, #444 100%);
  background-image:      -o-linear-gradient(bottom, #333 0%, #444 100%);
  background-image:    -moz-linear-gradient(bottom, #333 0%, #444 100%);
  background-image: -webkit-linear-gradient(bottom, #333 0%, #444 100%);
  background-image:     -ms-linear-gradient(bottom, #333 0%, #444 100%);
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #333), color-stop(1, #444) );
  -webkit-box-shadow: inset 0px 1px 0px #777, 0px 1px 0px #fff;
     -moz-box-shadow: inset 0px 1px 0px #777, 0px 1px 0px #fff;
          box-shadow: inset 0px 1px 0px #777, 0px 1px 0px #fff;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}
.ca-content ul li a:hover{
  opacity: 0.9;
}
.ca-nav span{
	width:25px;
	height:38px;
	background:transparent url(../images/arrows.png) no-repeat top left;
	position:absolute;
	top:50%;
	margin-top:-19px;
	left:-40px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
}
.ca-nav span.ca-nav-next{
	background-position:top right;
	left:auto;
	right:-40px;
}
.ca-nav span:hover{
	opacity:1.0;
}
